# Public API Keys (safe to commit)
NEXT_PUBLIC_CHEC_PUBLIC_KEY=YOUR_PUBLIC_KEY_HERE
GATSBY_STRIPE_PUBLISHABLE_KEY=YOUR_STRIPE_PUBLISHABLE_KEY_HERE

# Contentful
CONTENTFUL_SPACE_ID=YOUR_SPACE_ID
CONTENTFUL_ACCESS_TOKEN=YOUR_ACCESS_TOKEN
CONTENTFUL_HOST=cdn.contentful.com

# Commerce
CHEC_API_URL=alchemyremember.me
CHEC_SECRET_KEY=YOUR_CHEC_SECRET_KEY

# Stripe
STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY
STRIPE_WEBHOOK_SECRET=YOUR_WEBHOOK_SECRET

# Omnisend
OMNISEND_API_KEY=YOUR_OMNISEND_API_KEY

# PayPal
PAY_PAL_CLIENT_ID=YOUR_PAYPAL_CLIENT_ID

# OpenExchangeRates
OPEN_EXCHANGE_RATES_APP_ID=YOUR_APP_ID
