# Public API Keys (safe to commit)
GATSBY_STRIPE_PUBLISHABLE_KEY=YOUR_STRIPE_PUBLISHABLE_KEY

# Contentful
CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=
CONTENTFUL_HOST=cdn.contentful.com

# Commerce
CHEC_API_URL=alchemyremember.me

# Stripe
STRIPE_SECRET_KEY=YOUR_STRIPE_SECRET_KEY

# Omnisend
OMNISEND_API_KEY=

# PayPal
PAY_PAL_CLIENT_ID=

# OpenExchangeRates
OPEN_EXCHANGE_RATES_APP_ID=
